// Inter – Regular (400)
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
}

// Inter – Bold (700)
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/Inter-Bold.woff2') format('woff2');
}

// National Park – Light (300)
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/fonts/NationalPark-Variable.woff2') format('woff2');
}

// National Park – Semi Bold (600)
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/NationalPark-Variable.woff2') format('woff2');
}

// National Park – Extra Bold (800)
@font-face {
  font-family: 'National Park';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/NationalPark-Variable.woff2') format('woff2');
}


/* Copy */

body, p {
  font-family: 'National Park', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 189.474% */
  letter-spacing: 0.5px;
  color: var(--primary);
}

h1, #info-box h2 {
  font-family: 'Inter', sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 117.021% */
  letter-spacing: -0.3px;
  padding-bottom: 30px;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 117.021% */
  letter-spacing: -0.3px;
  padding-bottom: 15px;
}

label, .overline, #language-switch span, button.is-inactive::after {
font-family: 'National Park', sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 800;
line-height: 23px;
letter-spacing: 3.5px;
text-transform: uppercase;
}

h3 {
  letter-spacing: 0.6px;
}

strong, b {
  font-weight: 800;
}

#info-box ul {
  padding-left: 22px;
}

label {
  text-align: center;
  line-height: 28px;
}



button {
  font-family: 'National Park', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 39px; /* 156% */
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.spacer {
  margin-bottom: 14px;
}

.quiz-status {
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--button);

  .quiz-count {
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: var(--button);
    font-size: 47px;
    bottom: -5px;
    position: relative;
    letter-spacing: -2px;
  }
}