#info-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  bottom: 60px;
  left: 60px;
  width: 850px;
  height: 600px;
  padding: 17px 7px 7px 7px;
  border-radius: 32px;
  background-color: var(--white);

  &-head {
    display: flex;
    width:100%;
    padding: 0 23px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    #escape-btn {
      display: flex;
      align-items: center;
      gap: 6px;
      font-family: National Park;
      font-weight: 800;
      font-size: 25px;
      line-height: 39px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: var(--secondary);
      cursor: pointer;

      &::before {
        content: '';
        display: inline-block; // needed for width/height to apply
        width: 22px;
        height: 22px;
        background-image: url('/assets/icons/ui/esc-btn-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

  }

  &-content {
      padding-left: 23px;
      padding-right: 23px;
  }

  &-controls {
    width: 100%;

    button {
      width: 100%;
    }
  }

}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}


