#info-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  bottom: 60px;
  left: 60px;
  width: 850px;
  height: 600px;
  padding: 17px 7px 7px 7px;
  border-radius: 32px;
  background-color: var(--white);

  &-head {
    display: flex;
    padding: 0 23px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &-content {
      padding-left: 23px;
      padding-right: 23px;
  }

  &-controls {
    width: 100%;

    button {
      width: 100%;
    }
  }

}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}