#info-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  bottom: 60px;
  left: 60px;
  width: 850px;
  height: 600px;
  padding: 7px;
  border-radius: 32px;
  background-color: var(--white);

  &-head {
    display: flex;
    width:100%;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    #escape-btn {
      display: flex;
      align-items: center;
      transition: 200ms ease-out;
      gap: 6px;
      padding: 20px 33px 10px 10px;
      font-family: 'National Park', sans-serif;
      font-weight: 800;
      font-size: 25px;
      line-height: 39px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: var(--secondary);
      cursor: pointer;

      &:active {
        color: var(--primary);
      }

      svg {
        flex-shrink: 0;
      }
    }

  }

  &-content {
      padding-left: 23px;
      padding-right: 23px;
  }

  &-controls {
    width: 100%;

    button {
      width: 100%;
    }
  }

}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}


