.blend-layer {
  mix-blend-mode: color;
  opacity: 1;
}

.glow-layer {
  mix-blend-mode: lighten;
}

.layer-areas {
  .st1 {
    opacity: 1;
  }

  polygon,
  path.st0 {
    fill: var(--secondary-70);
    stroke: var(--primary);
    stroke-width: 2px;
    cursor: pointer;
    transition: fill 200ms ease-out;

    &.active {
      fill: var(--button-90);
    }

    &:active {
      fill: var(--secondary-inactive-90);
    }
  }

  path.st2 {
    fill: var(--primary);
    pointer-events: none;
    transition: fill 200ms ease-out;
  }
}