.blend-layer {
  mix-blend-mode: color;
  opacity: 1;
}

.glow-layer {
  mix-blend-mode: lighten;
}

.layer-areas polygon.active{
  stroke-width: 10px;
  stroke:  white;
}
.layer-areas {
  opacity: .7;
}