// Farb- und Layout-Variablen
:root {
  --slider-height: 50px;
}

#slider-container {
  position: fixed;
  bottom: 50px;
  left: 40%;
  width: 1380px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  pointer-events: none; // Let clicks through to the map if not on a slider
  z-index: 100;
}

.slider-wrapper {
  width: 100%;
  pointer-events: auto;
  
  &.hidden {
    display: none;
  }
}

.slider-container {
  position: relative;
  width: 100%;
  height: calc(var(--slider-height) * 1.8);
  display: flex;
  align-items: center;
}

.range-slider {
  -webkit-appearance: none;
  width: 100%;
  height: var(--slider-height);
  border-radius: var(--slider-height);  
  background: white;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  box-shadow: var(--dropshadow-wide-blue);
  cursor: pointer;
  touch-action: auto;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: calc(var(--slider-height) * 1.8);
  height: calc(var(--slider-height) * 1.8);
  border-radius: 50%; 
  background-color: transparent; // We use the custom icon instead
  cursor: pointer;
}

.slider-thumb-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: calc(var(--slider-height) * 1.8);
  height: calc(var(--slider-height) * 1.8);
  background-color: var(--primary);
  border: 5px white solid;
  border-radius: 50%;
  box-shadow: var(--dropshadow-wide-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; // Let interactions through to the range input below

  img {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }
}

.slider-label-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;

  label {
    background: white;
    font-family: 'National Park', sans-serif;
    font-weight: 800;
    font-size: 25px;
    line-height: 23px;
    letter-spacing: 3.5px;
    text-align: center;
    text-transform: uppercase;

    border-radius: 7px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    box-shadow: var(--dropshadow-wide-blue);
  }
}
