// Farben
:root {
  --primary: rgb(0, 4, 160);
  --primary-inactive: #666784;
  --secondary: #FF4612;
  --secondary-inactive: #FFCDCC;
  --backdrop-dark: #000126;
  --backdrop-light: #E3ECFF;
  --white: #FFFFFF;
  --button: #0DCEDC;
  --button-inactive: #D1F5F8;
  --buttontext-inactive: #88D5DB;
  --card-inactive: #E7EEF7;
  --backdrop-dark-75: rgba(0, 1, 38, 0.75);
  --secondary-70: rgba(255, 70, 18, 0.45);
  --secondary-inactive-90: rgba(255, 205, 204, 0.9);
  --button-90: rgba(13, 206, 220, 0.8);
  --screen-width: 3840px;
  --screen-height: 2160px;
  --dropshadow-wide-blue: 0 0 30px rgba(0, 4, 160, .8);
}