// Farben
:root {
	--primary: rgb(0, 4, 160);
	--primary-inactive: #666784;
	--secondary: #ff4612;
	--secondary-inactive: #ffcdcc;
	--backdrop-dark: #000126;
	--backdrop-light: #e3ecff;
	--white: #ffffff;
	--button: #0dcedc;
	--button-inactive: #d1f5f8;
	--buttontext-inactive: #97a7af;
	--card-inactive: #e7eef7;
	--backdrop-dark-75: rgba(0, 1, 38, 0.5);
	--secondary-70: rgba(255, 70, 18, 0.45);
	--secondary-inactive-90: rgba(255, 205, 204, 0.9);
	--button-90: rgba(13, 206, 220, 0.8);
	--screen-width: 3840px;
	--screen-height: 2160px;
	--theyellow: #ffff00;
	--gooddrone: #00ffded4;
	--dropshadow-wide-blue: 0 0 30px rgba(0, 4, 160, 0.8);
}
