.blend-layer{
    mix-blend-mode: color; 
    opacity: 1;
}

.glow-layer{
    filter: blur(20px);
    mix-blend-mode: lighten;
    opacity: .8;
}

polygon.active{
    stroke-width: 12px;
    stroke:  var(--cd-dark-blue);
}
