

:root {
	--bg-color: #000126;
    --cd-light-blue: #00C2D0;
    --cd-dark-blue: #0004A0;
    
    --screen-width: 3840px; 
    --screen-height: 2160px; 
}

* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	letter-spacing: 0.12em;
}

html {
   /* clamp(MIN, FLEXIBEL, MAX) */
   font-size: clamp(20px, 0.6vw, 40px); /* temporär */
}

body {
    width: var(--screen-width); 
	height: var(--screen-height); 
    overflow: hidden;
    zoom:.5; /* for development */
    background-color: var(--bg-color);
}



#layer-control {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 0;
	top: 300px;
	z-index: 100;
}
#info-box {
	position: fixed;
	bottom: 50px;
	left: 50px;
	width: 870px;
	height: 500px;
    padding: 50px;
    box-sizing: border-box;
	background-color: white;
}


#layers {
	position: relative;
}

.layer,
.layer-content {

    width: var(--screen-width); 
	height: var(--screen-height); 
	position: absolute;
    transition: all ease-in-out 300ms;
    opacity: 1;
}
.layer.hidden{
    opacity: 0!important;
}
.toggleSwitch {
	cursor: pointer;
	display: grid;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	color: white;
	position: relative;
}
.toggleSwitch label {
	position: absolute;
	bottom: 0;
	background-color: var(--bg-color);
	padding: 3px 7px;
	border-radius: 3px;
	box-shadow: 0px 0px 20px var(--bg-color);
}
.toggleSwitch.hidden {
	display: none;
}


#language-switch{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding:10px
}
#language-switch .switch {
    margin:0px 10px;
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
} /* Hide default HTML checkbox */
#language-switch .switch input {
	opacity: 0;
	width: 0;
	height: 0;
} /* The slider */
#language-switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--cd-light-blue);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
#language-switch .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
#language-switch input:checked + .slider {
	background-color: var(--cd-light-blue);
}
#language-switch input:focus + .slider {
	box-shadow: 0 0 1px var(--cd-light-blue);
}
#language-switch input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
} /* Rounded sliders */
#language-switch .slider.round {
	border-radius: 34px;
}
#language-switch .slider.round:before {
	border-radius: 50%;
}
